<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @bookborrowing.name %>
</p>

<p>
  <strong>:</strong>
  <%= @bookborrowing. %>
</p>

<p>
  <strong>Title:</strong>
  <%= @bookborrowing.title %>
</p>

<p>
  <strong>:</strong>
  <%= @bookborrowing. %>
</p>

<p>
  <strong>Author:</strong>
  <%= @bookborrowing.author %>
</p>

<p>
  <strong>:</strong>
  <%= @bookborrowing. %>
</p>

<p>
  <strong>Date publish:</strong>
  <%= @bookborrowing.date_publish %>
</p>

<p>
  <strong>:</strong>
  <%= @bookborrowing. %>
</p>

<%= link_to 'Edit', edit_bookborrowing_path(@bookborrowing) %> |
<%= link_to 'Back', bookborrowings_path %>
