<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @vitab.Name %>
</p>

<p>
  <strong>:</strong>
  <%= @vitab. %>
</p>

<p>
  <strong>Title:</strong>
  <%= @vitab.title %>
</p>

<p>
  <strong>:</strong>
  <%= @vitab. %>
</p>

<p>
  <strong>Dateborrowed:</strong>
  <%= @vitab.dateborrowed %>
</p>

<p>
  <strong>:</strong>
  <%= @vitab. %>
</p>

<%= link_to 'Edit', edit_vitab_path(@vitab) %> |
<%= link_to 'Back', vitabs_path %>
